/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/ca/bug-filing.page
/ca/ca.mo
/ca/ca.stamp
/ca/choosing.page
/ca/develop.page
/ca/documentation.page
/ca/gameplay.page
/ca/hints.page
/ca/index.page
/ca/legal.xml
/ca/license.page
/ca/map.page
/ca/moves.page
/ca/pause.page
/ca/rules.page
/ca/scoring.page
/ca/shortcuts.page
/ca/strategy.page
/ca/toolbar.page
/ca/translate.page
/cs/bug-filing.page
/cs/choosing.page
/cs/cs.mo
/cs/cs.stamp
/cs/develop.page
/cs/documentation.page
/cs/gameplay.page
/cs/hints.page
/cs/index.page
/cs/legal.xml
/cs/license.page
/cs/map.page
/cs/moves.page
/cs/pause.page
/cs/rules.page
/cs/scoring.page
/cs/shortcuts.page
/cs/strategy.page
/cs/toolbar.page
/cs/translate.page
/da/bug-filing.page
/da/choosing.page
/da/da.mo
/da/da.stamp
/da/develop.page
/da/documentation.page
/da/gameplay.page
/da/hints.page
/da/index.page
/da/legal.xml
/da/license.page
/da/map.page
/da/moves.page
/da/pause.page
/da/rules.page
/da/scoring.page
/da/shortcuts.page
/da/strategy.page
/da/toolbar.page
/da/translate.page
/de/bug-filing.page
/de/choosing.page
/de/de.mo
/de/de.stamp
/de/develop.page
/de/documentation.page
/de/gameplay.page
/de/hints.page
/de/index.page
/de/legal.xml
/de/license.page
/de/map.page
/de/moves.page
/de/pause.page
/de/rules.page
/de/scoring.page
/de/shortcuts.page
/de/strategy.page
/de/toolbar.page
/de/translate.page
/el/bug-filing.page
/el/choosing.page
/el/develop.page
/el/documentation.page
/el/el.mo
/el/el.stamp
/el/gameplay.page
/el/hints.page
/el/index.page
/el/legal.xml
/el/license.page
/el/map.page
/el/moves.page
/el/pause.page
/el/rules.page
/el/scoring.page
/el/shortcuts.page
/el/strategy.page
/el/toolbar.page
/el/translate.page
/en_GB/bug-filing.page
/en_GB/choosing.page
/en_GB/develop.page
/en_GB/documentation.page
/en_GB/en_GB.mo
/en_GB/en_GB.stamp
/en_GB/gameplay.page
/en_GB/hints.page
/en_GB/index.page
/en_GB/legal.xml
/en_GB/license.page
/en_GB/map.page
/en_GB/moves.page
/en_GB/pause.page
/en_GB/rules.page
/en_GB/scoring.page
/en_GB/shortcuts.page
/en_GB/strategy.page
/en_GB/toolbar.page
/en_GB/translate.page
/es/bug-filing.page
/es/choosing.page
/es/develop.page
/es/documentation.page
/es/es.mo
/es/es.stamp
/es/gameplay.page
/es/hints.page
/es/index.page
/es/legal.xml
/es/license.page
/es/map.page
/es/moves.page
/es/pause.page
/es/rules.page
/es/scoring.page
/es/shortcuts.page
/es/strategy.page
/es/toolbar.page
/es/translate.page
/eu/bug-filing.page
/eu/choosing.page
/eu/develop.page
/eu/documentation.page
/eu/eu.mo
/eu/eu.stamp
/eu/gameplay.page
/eu/hints.page
/eu/index.page
/eu/legal.xml
/eu/license.page
/eu/map.page
/eu/moves.page
/eu/pause.page
/eu/rules.page
/eu/scoring.page
/eu/shortcuts.page
/eu/strategy.page
/eu/toolbar.page
/eu/translate.page
/fr/bug-filing.page
/fr/choosing.page
/fr/develop.page
/fr/documentation.page
/fr/fr.mo
/fr/fr.stamp
/fr/gameplay.page
/fr/hints.page
/fr/index.page
/fr/legal.xml
/fr/license.page
/fr/map.page
/fr/moves.page
/fr/pause.page
/fr/rules.page
/fr/scoring.page
/fr/shortcuts.page
/fr/strategy.page
/fr/toolbar.page
/fr/translate.page
/hu/bug-filing.page
/hu/choosing.page
/hu/develop.page
/hu/documentation.page
/hu/gameplay.page
/hu/hints.page
/hu/hu.mo
/hu/hu.stamp
/hu/index.page
/hu/legal.xml
/hu/license.page
/hu/map.page
/hu/moves.page
/hu/pause.page
/hu/rules.page
/hu/scoring.page
/hu/shortcuts.page
/hu/strategy.page
/hu/toolbar.page
/hu/translate.page
/it/bug-filing.page
/it/choosing.page
/it/develop.page
/it/documentation.page
/it/gameplay.page
/it/hints.page
/it/index.page
/it/it.mo
/it/it.stamp
/it/legal.xml
/it/license.page
/it/map.page
/it/moves.page
/it/pause.page
/it/rules.page
/it/scoring.page
/it/shortcuts.page
/it/strategy.page
/it/toolbar.page
/it/translate.page
/oc/bug-filing.page
/oc/choosing.page
/oc/develop.page
/oc/documentation.page
/oc/gameplay.page
/oc/hints.page
/oc/index.page
/oc/legal.xml
/oc/license.page
/oc/map.page
/oc/moves.page
/oc/oc.mo
/oc/oc.stamp
/oc/pause.page
/oc/rules.page
/oc/scoring.page
/oc/shortcuts.page
/oc/strategy.page
/oc/toolbar.page
/oc/translate.page
/pl/bug-filing.page
/pl/choosing.page
/pl/develop.page
/pl/documentation.page
/pl/gameplay.page
/pl/hints.page
/pl/index.page
/pl/legal.xml
/pl/license.page
/pl/map.page
/pl/moves.page
/pl/pause.page
/pl/pl.mo
/pl/pl.stamp
/pl/rules.page
/pl/scoring.page
/pl/shortcuts.page
/pl/strategy.page
/pl/toolbar.page
/pl/translate.page
/ru/bug-filing.page
/ru/choosing.page
/ru/develop.page
/ru/documentation.page
/ru/gameplay.page
/ru/hints.page
/ru/index.page
/ru/legal.xml
/ru/license.page
/ru/map.page
/ru/moves.page
/ru/pause.page
/ru/ru.mo
/ru/ru.stamp
/ru/rules.page
/ru/scoring.page
/ru/shortcuts.page
/ru/strategy.page
/ru/toolbar.page
/ru/translate.page
/sl/bug-filing.page
/sl/choosing.page
/sl/develop.page
/sl/documentation.page
/sl/gameplay.page
/sl/hints.page
/sl/index.page
/sl/legal.xml
/sl/license.page
/sl/map.page
/sl/moves.page
/sl/pause.page
/sl/rules.page
/sl/scoring.page
/sl/shortcuts.page
/sl/sl.mo
/sl/sl.stamp
/sl/strategy.page
/sl/toolbar.page
/sl/translate.page
/so_locations
/sr/bug-filing.page
/sr/choosing.page
/sr/develop.page
/sr/documentation.page
/sr/gameplay.page
/sr/hints.page
/sr/index.page
/sr/legal.xml
/sr/license.page
/sr/map.page
/sr/moves.page
/sr/pause.page
/sr/rules.page
/sr/scoring.page
/sr/shortcuts.page
/sr/sr.mo
/sr/sr.stamp
/sr/strategy.page
/sr/toolbar.page
/sr/translate.page
/sr@latin/bug-filing.page
/sr@latin/choosing.page
/sr@latin/develop.page
/sr@latin/documentation.page
/sr@latin/gameplay.page
/sr@latin/hints.page
/sr@latin/index.page
/sr@latin/legal.xml
/sr@latin/license.page
/sr@latin/map.page
/sr@latin/moves.page
/sr@latin/pause.page
/sr@latin/rules.page
/sr@latin/scoring.page
/sr@latin/shortcuts.page
/sr@latin/sr@latin.mo
/sr@latin/sr@latin.stamp
/sr@latin/strategy.page
/sr@latin/toolbar.page
/sr@latin/translate.page
/sv/bug-filing.page
/sv/choosing.page
/sv/develop.page
/sv/documentation.page
/sv/gameplay.page
/sv/hints.page
/sv/index.page
/sv/legal.xml
/sv/license.page
/sv/map.page
/sv/moves.page
/sv/pause.page
/sv/rules.page
/sv/scoring.page
/sv/shortcuts.page
/sv/strategy.page
/sv/sv.mo
/sv/sv.stamp
/sv/toolbar.page
/sv/translate.page
/tags
/zh_CN/bug-filing.page
/zh_CN/choosing.page
/zh_CN/develop.page
/zh_CN/documentation.page
/zh_CN/gameplay.page
/zh_CN/hints.page
/zh_CN/index.page
/zh_CN/legal.xml
/zh_CN/license.page
/zh_CN/map.page
/zh_CN/moves.page
/zh_CN/pause.page
/zh_CN/rules.page
/zh_CN/scoring.page
/zh_CN/shortcuts.page
/zh_CN/strategy.page
/zh_CN/toolbar.page
/zh_CN/translate.page
/zh_CN/zh_CN.mo
/zh_CN/zh_CN.stamp
