/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*_vala.stamp
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/game-view.c
/game.c
/gnome-mahjongg
/gnome-mahjongg.c
/gnome_mahjongg_vala.stamp
/history.c
/map.c
/resources.c
/so_locations
/tags
